VITE_CONNECTED_PAPERS_BASE_URL=/api/connected-papers
VITE_OPENALEX_BASE_URL=/api/openalex
VITE_SEMANTIC_SCHOLAR_BASE_URL=/api/semantic-scholar

VITE_CONNECTED_PAPERS_PROXY_TARGET=https://rest.prod.connectedpapers.com
VITE_OPENALEX_PROXY_TARGET=https://api.openalex.org
VITE_SEMANTIC_SCHOLAR_PROXY_TARGET=http://127.0.0.1:8000
